@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap");

* {
	margin: 0px;
	font-family: "Barlow", sans-serif;
	--dark: #262626;
	--peach: #bf907e;
	--curcuma: #f29849;
	--white: #ffffff;
	--wood: #bfa77a;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
#vertical-img {
	width: 30vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://getwallpapers.com/wallpaper/full/1/a/1/538243.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.stripe {
	width: 30vw;
	height: 15vh;
	background-color: rgba(191, 167, 122, 0.12);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-size: 6vh;
	backdrop-filter: blur(6px);
}
#company-name {
	font-size: 5vw;
}
#main-container {
	width: 70vw;
	height: 100vh;
	background-color: var(--dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#resume {
	width: 50vw;
	height: 33vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vh;
	color: var(--white);
	padding-top: 3vh;
}
#form-container {
	width: 70vw;
	height: 33vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(75, 72, 66, 0.42);
}
input {
	border: 2px solid #433f3f;
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 5px;
	height: 2vh;
	width: 15vw;
}
input:required {
	border-color: var(--dark);
}
input:valid {
	border-color: green;
}
input:invalid {
	border-color: var(--curcuma);
}

#form-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 3vh;
}
.row-item {
	display: flex;
	flex-direction: column;
	font-size: 2vh;
	color: var(--wood);
}
.form-row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3vw;
	margin-left: 7vw;
}
#tcs {
	width: 70vw;
	height: 33vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-size: 1vw;
	gap: 3vh;
}
#btn {
	border: none;
	font-size: 2vh;
	height: auto;
	width: 12vw;
	background-color: var(--wood);
}
#btn:hover {
	border-color: var(--peach);
	background-color: var(--peach);
}
